body{
    background-image: linear-gradient(80deg, rgb(232, 183, 191), rgb(167, 201, 214));
}
h3{
    font-weight: 800;
    color: black;
    font-size: 80px;
}
input[type=text] {
    width: 40%;
    height: 40px;
    border: 3px solid;
    border-radius: 20px;
  }
.know-us{
  position: absolute;
  top: 5%;
  right: 11rem;
  padding: 10px 20px;
  background-color: #da6380;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.know-us:hover {
    background-color: #a40f34;
  }