body{
    background-image: linear-gradient(80deg, rgb(232, 183, 191), rgb(167, 201, 214));
}
h3{
    font-weight: 800;
    color: black;
    font-size: 80px;
}
input[type=text] {
    width: 40%;
    height: 40px;
    border: 3px solid;
    border-radius: 20px;
  }
#videoContainer{
    padding-top: 20px;
    padding-left: 20px;
}
body{
    background-image: linear-gradient(80deg, rgb(232, 183, 191), rgb(167, 201, 214));
    margin:0;
    padding:0;
}
.body{
  min-height: 100vh;
}
h3{
    font-weight: 800;
    color: black;
    font-size: 80px;
}
input[type=text] {
    width: 40%;
    height: 40px;
    border: 3px solid;
    border-radius: 20px;
  }

  nav {
    background-color:  rgba(26, 24, 24, 0.877);
    overflow: hidden;
    height:4rem;
    text-align: center;
    
  }

  .bar{
    margin-right: 15rem;
  }
  nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    font-size: large;
    
    
  }

  nav a:hover {
    background-color: #ded6da;
    color: black;
  }
  footer {
    background-color: rgba(26, 24, 24, 0.877);
    text-align: center;
    padding: 20px 0;
    color: white;
    margin-top: auto;
}

.quick-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.quick-links a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
}
.glass{
  display: flex;
  margin:40px; 
  padding: 20px; 
  background-color:#CEA0AA;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 4px 4px 4px #af7783;
  transition: transform 0.6s;
}

.glass:hover{
  transform: scale(1.03);
}
.glass form h3{
  text-shadow: 4px 4px 4px grey;
}
#textinput{
  padding: 0.3px;
  margin:25px;
  box-sizing: border-box;
  border-radius: 3px;
  border:1px solid grey;
  box-shadow: 2px 2px 4px rgb(88, 82, 82);
}
.button{
  height: 50px;
  width: 210px;
  margin: 25px;
  padding: 3px;
  background-color:#af7783;
  border: 1px solid #9f5061;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px #60454b;
  border-radius: 7px;
  font-size: medium;
  transition-property: all;
  transition-duration: 0.3s;
}
.button:hover{
  background-color: #ae8e95;
}