<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="CSS/Index.css">
</head>
<body>
    <section class="body">
    <nav>
        <div class="bar">
        <a href="index.html">Home</a>
        <a href="About.html">About</a>
        <a href="About.html#faq-section">FAQS</a>
        <a  href="#contact">Contact</a>
    </div>
      </nav>
      
    <form action="/form_login" method="post">
        <h3>Get YouTube Transcript for Free</h3><br/>
        <input type="text" name="url">
        <input type="submit" value="Get Video Transcript">
    </form>
</section>
    <footer>
        <div class="quick-links">
            <a href="index.html">Home</a>
            <a href="About.html">About</a>
            <a href="About.html#faq-section">FAQ</a>
            <a href="#contact">Contact Us</a>
        </div>
        <div class="copyright">
            &copy; 2023 Your Company Name. All rights reserved.
        </div>
    </footer>
</body>
</html>